
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">Soru Ekleme Sayfası</div>
        <hr>
        <form action="/Question/Create">
            <div class="form-group">
                <label for="input-1">Soru Cümlesi</label>
                <input type="text" class="form-control" name="QuestionLine" id="input-1" placeholder="Soru yazınız" maxlength="250" required>
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-dribbble btn-primary px-5"><i class="flag-icon-zw"></i> Kaydet </button>
            </div>
        </form>
    </div>
</div>

